<div class='nested-fields'>
    <div class="form-group">
      <%= f.text_field :link, class: 'form-control', required: true %>
    <%= link_to_remove_association "remove video", f %>
    </div>
</div>