<%= form_for [@profile, @profile.bookings.new] do |f| %>

<div class="panel panel-default">
	<div class="panel-heading">
		<legend>Dapatkan Penawaran Terbaik Untuk Event Anda</legend>
	</div>

	<div class="panel-body">
		<div class="container">
			<div class="row">

			
				<!-- Text input-->
				<div class="form-group">
				  <label class="col-md-3 control-label" for="EventDetails">Detail Event:</label>  
				  <div class="col-md-6">
				  <input id="EventDetails" name="EventDetails" type="text" placeholder="" class="form-control input-md" required="">
				  <span class="help-block">Tolong jelaskan acara tersebut dengan lebih detail.</span>  
				  </div>
				</div>
			</div>
			<!-- Text input-->
			<div class="form-group">
			  <label class="col-md-4 control-label" for="Budget">Budget:</label>  
			  <div class="col-md-5">
			  <input id="Budget" name="Budget" type="text" placeholder="Contoh: (Rp. 3.000.000 - 5.000.000)" class="form-control input-md">
			  <span class="help-block">Budget untuk event ini (bila ada).</span>  
			  </div>
			</div>

			<!-- Text input-->
			<div class="form-group">
			  <label class="col-md-4 control-label" for="Time">Waktu Event</label>  
			  <div class="col-md-5">
			  <input id="Time" name="Time" type="text" placeholder="Contoh: (6 Juni 2016, 18.00-21.00)" class="form-control input-md" required="">
			  <span class="help-block">Tolong tuliskan waktu event tersebut.</span>  
			  </div>
			</div>

			<!-- Text input-->
			<div class="form-group">
			  <label class="col-md-4 control-label" for="MoreInfo">Informasi Tambahan</label>  
			  <div class="col-md-8">
			  <input id="MoreInfo" name="MoreInfo" type="text" placeholder="" class="form-control input-md">
			  <span class="help-block">Tolong berikan informasi tambahan jika ada.</span>  
			  </div>
			</div>

		</div>
	</div>
	<br>


	<%= f.submit "Book Now", id: "btn-book", class: "btn btn-primary wide"%>

<% end %>

