<section id="about" class="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Tentang Gikku</h2>
                <p class="lead">
                Gikku adalah sebuah wadah yang memuat banyak performer professional dalam berbagai kategori sehingga memudahkan kamu dalam mencari performer terbaik sesuai yang kamu inginkan. Pertama dan satu–satunya yang memberikan sistem pembookingan yang mudah dan lengkap dimana semua perfomer Gikku telah terverifikasi sehingga dapat memberikan pelayanan yang terbaik kepada kamu.
                </p>
            </div>
        </div>
    </div>
</section>