<section id="about" class="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Tentang Gikku</h2>
                <p class="lead">
                Gikku adalah sebuah wadah yang memuat performer professional sehingga memudahkan kamu dalam pencarian hiburan terbaik sesuai yang kamu inginkan. Pertama dan satu – satunya yang memberikan sistem servis pembookingan dimana semua perfomer Gikku telah terverifikasi sehingga dapat memberikan pelayanan yang terbaik kepada kamu.
                </p>
                <p class="lead">
                We are here to manage the entire process through to completion. Starting from providing various options, guiding party planners to the best-suited artists and connecting them. Concluding with payment services and contract formalities. We do it all!
                </p>
            </div>
        </div>
    </div>
</section>