<div id="header" class="header carousel slide carousel-fade">
  <div class="carousel-inner">
    <div class="item active">
      <%= image_tag("carousel-1.jpg", :alt => "carousel-1") %>
            
      <div class="carousel-caption-first">
         
            <h1 >READY - START - GO!</h1>
        
      
        <div class="row home-top">
          <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2">
             
                <p>Gikku, dimana kamu dapat mencari dengan mudah performer professional terbaik untuk event spesialmu.</p>
             
          </div>
        </div>
        <br>
        <br>
        <div class="row home-bot">
          <div class="col-md-2 col-md-offset-5">
              <button class="btn-signup" href="/search">Cari Sekarang!</button>
          </div>
        </div>
      </div>

    </div>
    
  </div>
</div>
