<div id="header" class="header carousel slide carousel-fade" data-ride="carousel-category" >
  <div class="carousel-inner" role="listbox" >
    <div class="item active">
      <%= image_tag("carousel-1.jpg", :alt => "carousel-1") %>
            
      <div class="carousel-caption-first">
         
            <h1 >READY - START - GO!</h1>
            <p class="lead">Gikku, where you can find your favorite local artists seamlessly.</p>
         
      </div>

    </div>
    <div class="item">
      <%= image_tag("carousel-2.jpg", :alt => "carousel-2") %>

      <div class="carousel-caption-quote-center"><h1>What our customers says:</h1>
      </div>
      <div class="carousel-caption-quote-right">
          <div class="about-name-div"><p></p>
            <h3 ><i>“Gigku is awesome! I will always keep them in mind for all future events. We used their service for our company's annual event and it was great.”</i></h3>
            <p class="quote">-John Robert, Rayford Industries-</p>
         </div>
      </div>
    </div>
  </div>
</div>
