<div id="header" class="header carousel slide carousel-fade">
  <div class="carousel-inner">
    <div class="item active">
      <%= image_tag("carousel-1.jpg", :alt => "carousel-1") %>
            
      <div class="carousel-caption-first">
         
            <h1 >READY - START - GO!</h1>
            
        <div class="row">
	        <div class="col-md-8 col-md-offset-2">
	        	<p class="lead">Gikku, dimana kamu dapat mencari dengan mudah performer professional terbaik untuk event spesialmu.</p>
	        </div>
      	</div>
      </div>

    </div>
    
  </div>
</div>
