
<section id="whyus" class="bg-primary">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-12">
                <h2>3 Alasan Membooking Performer Lewat Gikku.</h2>
                <hr class="small">
                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <div class="service-item">
                            <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="glyphicon glyphicon-search fa-stack-1x text-primary"></i>
                        </span>
                            <h4>
                                <strong>Performer Professional</strong>
                            </h4>
                            <p>Di Gikku. kamu bisa secara mudah dan cepat mencari performer professional terbaik yang telah diverifikasi secara personal oleh Gikku dan direview oleh pengguna sebelumnya.</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="service-item">
                            <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-check-comment-o fa-stack-1x text-primary"></i>
                        </span>
                            <h4>
                                <strong>Kemudahan Berkomunikasi</strong></h4>
                            <p>Gikku menyediakan fitur pesan yang lengkap sehingga kamu bisa mendiskusikan detail event kamu dengan performer yang kamu sudah booking tanpa perlu repot bertemu langsung.</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="service-item">
                            <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-check-square-o fa-stack-1x text-primary"></i>
                        </span>
                            <h4>
                                <strong>Jaminan Transaksi</strong></h4>
                            <p>Gikku menyediakan perjanjian kerja yang profesional dan pembayaran baru diteruskan ke performer setelah event kamu berlangsung.</p>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
</section>


