
<section id="whyus" class="bg-primary">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-10 col-lg-offset-1">
                <h2>Lakukan dengan Gikku</h2>
                <hr class="small">
                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <div class="service-item">
                            <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="glyphicon glyphicon-search fa-stack-1x text-primary"></i>
                        </span>
                            <h4>
                                <strong>Performer Professional</strong>
                            </h4>
                            <p>Variasi pilihan performer professional sesuai dengan kebutuhan party kamu.</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="service-item">
                            <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-comments-o fa-stack-1x text-primary"></i>
                        </span>
                            <h4>
                                <strong>Kemudahan Berkomunikasi</strong></h4>
                            <p>Memastikan party kamu berjalan sesuai yang diinginkan.</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="service-item">
                            <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-check-square-o fa-stack-1x text-primary"></i>
                        </span>
                            <h4>
                                <strong>Jaminan Transaksi</strong></h4>
                            <p>Setelah dibooking Pembayaran kamu baru diterima oleh performer setelah party kamu.</p>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
</section>


