<div class="row">
  <div class="col-lg-8 col-lg-offset-2">
    <div class="input-group">
      <div class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pilih Kategori <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#">DJ</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">Band</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">MC</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">Solo Singer</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">Magician</a></li>
        </ul>
      </div><!-- /btn-group -->
      <div class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pilih Event <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#">Wedding</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">Corporate</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">Birthday</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">Private</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">School</a></li>
        </ul>
      </div><!-- /btn-group -->

      <input type="text" class="form-control" placeholder="Cari cepat nama performer...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-8 -->
 </div>

<div class="tags">  
  <div class="container">
    <div class="cards row">
    

      <% @profiles.each do |t| %>
      <div class="card col-xs-5 col-xs-offset-1 col-sm-4 col-sm-offset-2 col-md-2 col-md-offset-2 col-lg-2 col-lg-offset-1">
      <br>
      <h4 class="text-center"><%= t.profile_name   %></h4>
      
      <p class="text-center"><%= link_to "Lihat Profil" , profiles_path(t) %></p>
      </div>
      <% end %>

    </div>
  </div>
</div>

