<%= form_for [@booking, @feedback], url: booking_feedback_path(@booking) do |f| %>
	<div class="form-group">
		<%= f.text_area :comment, rows: 3, class: "form-control" %>
	</div>
		<%= f.hidden_field :booking_id, value: @booking.id %>
	<div class="actions">
		<%= f.submit "Create", class: "btn btn-primary" %>
	</div>

<% end %>