<div id="header" class="headerku" >
  <div class="container">
    <div class="headerku-content">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
           
              <h2> GEAR UP FOR YOUR NEXT GIG! </h2>
           
        </div>
      </div>
      <br>
      <br>
      <br>
      <div class="row">
        <div class="col-md-2 col-md-offset-5">
        <% if user_signed_in? %>
        <% end %>
        <% else %>
        <%= link_to new_user_registration_path do %>
            <button class="btn-signup">Sign Up</button>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
    
