<div id="header" class="headerku" >
  <div class="container">
    <div class="headerku-content">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
           
              <h1> GEAR UP FOR YOUR NEXT GIG! </h1>
           
        </div>
      </div>
      <div class="row">
        <div class="col-md-2 col-md-offset-5"
          <a href="#" class="btn-signup" role="button"><p>Sign Up</p></a>
        </div>
      </div>
    </div>
  </div>
</div>
    
