
<section id="whyus" class="bg-primary">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-12">
                <h2>Kenapa harus bergabung dengan Gikku?</h2>
                <hr class="small">
                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <div class="service-item">
                            <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="glyphicon glyphicon-bullhorn fa-stack-1x text-primary"></i>
                        </span>
                            <h4>
                                <strong>Profile Portfolio Professional</strong>
                            </h4>
                            <p>Dengan halaman profile yang keren dan elegan, Gikku membantu kamu untuk menunjukkan portfolio performancemu untuk lebih dikenal calon klien baru.</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="service-item">
                            <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-rocket fa-stack-1x text-primary"></i>
                        </span>
                            <h4>
                                <strong>Job Semakin Laris</strong></h4>
                            <p>Sebagai suatu wadah yang fokus untuk performer seperti kamu, setiap pengunjung Gikku berpotensi menjadi klien baru untuk job anda selanjutnya. </p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="service-item">
                            <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-money fa-stack-1x text-primary"></i>
                        </span>
                            <h4>
                                <strong>Pembayaran Tepat Waktu</strong></h4>
                            <p>Tidak perlu khawatir lagi mengenai pembayaran, Gikku menfasilitasi pembayaran dari client dengan transparan dan meneruskan ke kamu dengan tepat waktu.</p>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
</section>


